body{
	background-color: #0F0F1E;
	margin: 0px;
	font-family: Arial;
}
.container{
	width:100%;
	height: 100%;
	background-color:#A64CFF;
	margin: 0px auto;
	padding:0px;
	position: relative;
	display: -webkit-flex;
	-webkit-flex-flow: column;
    display: flex;
	flex-flow: column;
}

.row{
	display: -webkit-flex;
	-webkit-flex-flow: row;
    display: flex;
	flex-flow: row;
}

header{
	background-color:#4CA6FF;
	font-family: Vladimir Script;
	font-size: 200%;
}

nav{
	background-color:white;
	width: 15%;
	order: 1;
}

nav > ul{
	list-style-type: none;
	font-size: 150%; 
	margin: 0px;
	padding: 0px;
}

nav  a:link, nav  a:visited {
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px 0px 10px 10px;
	margin-bottom: 2px;
}

nav  a:hover, nav  a:active {
	text-decoration: none;
	-webkit-animation: nav-hov .7s linear 1;
	animation: nav-hov .7s linear 1;
	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

main{
	background-color: white;
	width: 85%;
	padding: 15px;
	order: 2;
}

footer{
	background-color:#4CA6FF;
	color: white;
	padding: 10px 0px 10px 20px;
	order: 4;
}

.gallery{
	margin: -15px 0 0 -15px;
	flex-wrap: wrap;
}

.gallery img{
	width: 200px;
	height:200px;
	margin:15px 0 0 15px;
	border: solid 1px black;
}

/*EFFECTS*/

.box{
	background-color: #D5AAFF;
	display: inline-block;
	margin-left: -5px;
	padding: 5px 50px 5px 5px;
	box-shadow: -1px .5px #A64CFF,
		-2px 1px #A64CFF,
		 -3px 1.5px #A64CFF,
		 -4px 2px #A64CFF,
		 -5px 2.5px #A64CFF,
		 -6px 3px #A64CFF,
		 -7px 3.5px #A64CFF,
		 -8px 4px #A64CFF,
		 -9px 4.5px #A64CFF,
		 -10px 5px #A64CFF;
}

@-webkit-keyframes nav-hov{
	10%{background: -webkit-linear-gradient(left,rgba(76,166,255,1),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0));}
	20%{background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(76,166,255,1),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0));}
	30%{background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0),rgba(166,76,255,1),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0));}
	40%{background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(166,76,255,1),rgba(255,255,255,0),rgba(255,255,255,0));}
	50%{background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,115,185,1),rgba(255,255,255,0));}
	60%{background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,115,185,1));}
	70%{background: rgba(255,115,185,.33);}
	80%{background: rgba(255,115,185,.66);}
	100%{background:#FF73B9;}
}